<% include ../partials/head %>
<% if(education != "error"){ %>
<div class="row">
	<div class="college-container" style="background-image: url(<%= school.image %>);">
		<div class="college-image-box">
			<span> <h1 class="college-image-title"> <%= school.title %> </h1> </span>
			<span> <h2 class="college-image-degree"> <%= school.degree %> </h2> </span>
			<span> <p class="college-image-period"> <%= school.startDate %> - <%= school.endDate %> </p> </span>
		</div>
	</div>
</div>
<div class="row">
	<div class="college-details">
		<div class="col-md-9">
			<div class="college-details-courses">
				<h3>Courses</h3>
				<hr class="college-details-horz-sep"/>
				<p><%= school.courses %></p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="college-details-gpa">
				<h3>GPA</h3>
				<hr class="college-details-horz-sep" />
				<p><%= school.gpa %> / <%= school.gpaOutOf %></p>
			</div>
		</div>
	</div>
</div>
<% }else{ %>
<div class="row">
	<div class="college-container-error" >
		<div class="col-md-6">
			<span class="college-container-error-message"><p class="college-image-title"><%= school.title %></p></span>
		</div>
		<div class="col-md-6">
			<img src=<%= school.image %>></div>
		</div>
	</div>
</div>
<% } %>